* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

body {
  background: #f9f9f9;
}

img {
  max-height: 300px;
}

.navbar {
  background-color: #ab3aa5;
}

.card-body {
  padding-top: 0.5rem;
}

.icons {
  border-radius: 50%;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  background: white;
  border: none;
  padding: 10px 6px;
  margin: 0.5rem;
}

.icon-small {
  border-radius: 50%;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  background: white;
  border: none;
  padding: 0px 5px 0px 5px;
  margin: 0.5rem;
  height: 35px;
  width: 35px;
}

.icons:hover,
.icon-small:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.2s ease-out;
}

.card:hover {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);
  cursor: pointer;
  transition: 0.2s ease-out;
}

.card-text {
  font-size: 12px;
  color: rgb(163, 160, 160);
  line-height: 12px;
}

.percentBtn {
  background-color: rgb(102, 15, 143);
  margin-top: -45px;
  font-size: 12px;
  border-radius: 16px;
}

.cards {
  margin: 0 auto;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(265px, 1fr));
  grid-auto-rows: auto;
  gap: 20px;
  font-family: sans-serif;
  padding-top: 30px;
}

.card__wrapper {
  padding: 1rem;
}

footer {
  background: #000;
}

footer p {
  font-size: 12px;
}

footer h5 {
  letter-spacing: 2px;
}

@media screen and (min-width: 771px) {
  .icon-small,
  .icons,
  .btn-wrapper,
  .percentBtn {
    display: none;
  }

  .card-body {
    padding: 1.25rem;
  }

  .card__wrapper {
    padding: 0;
  }
}

@media screen and (max-width: 771px) {
  .cards {
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(265px, 350px));
  }
}

.bgimage {
  width: 100%;
  height: 100vh;
  /* background: url("https://images.unsplash.com/photo-1438109491414-7198515b166b?q=80&fm=jpg&s=cbdabf7a79c087a0b060670a6d79726c"); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background: #ab3aa5;
}
.bgimage h5 {
  color: white;
  font-size: 60px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: left;
  margin-top: 2rem;
}
